.LandingPage {
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: $containerPadding;
  background: $mainGradient;

  .btns {
    display: flex;
    $btnCol: white;
    $btnCol2: $landAccent;

    .btn {
      margin-right: 1rem;
      border: 2px solid $btnCol;
    }

    .secondary {
      background: none ;
      color: $btnCol;
    }

    .primary {
      color: $gradientCol1;
      background: $btnCol;
    }

    .primary:hover {
      border: 2px solid $btnCol2;
      background: $btnCol2;
    }

    .secondary:hover {
      border: 2px solid $btnCol2;
      color: $btnCol2;
    }
  }

  .mainSentences {
    position: absolute;
    bottom: 10%;
    // width: 600px;
    width: 100%;
    white-space: pre-line;

    h1 {
      font-size: $fontSize1;
    }

    h2 {
      font-size: 1.6rem;
    }

    p {
      color: $fontI2;
      // line-height: 36px;
      margin: 30px 0;
      width: 350px;
    }
  }

  .bloonMain {
    position: absolute;
    right: -20px;
    bottom: -20px;
    // height: 800px;
    height: 80vh;
  }

  @media (max-width: $bpHD){
    .bloonMain {
      height: 500px;
    }
  }

  @media (max-width: 1000px){
    .bloonMain {
      opacity: 0.1;
    }
  }

  
  @media (max-width: $bpTablet){
    .mainSentences {
      top: unset;
      
      p {
        width: 60%;
      }
      
      h1 {
        font-size: 2.4rem;
      }
    }
  }

  @media (max-width: $bpPhone){
    .mainSentences {
      bottom: 15%;
      width: 88vw;

      .btn.primary {
        margin-right: 10px;
        padding: 10px 30px;
      }

      p {
        width: 80%;
      }
    }

    .bloonMain {
      height: 380px;
    }
  }
}